.vscode
RL/venv/
RL/**/__pycache__/
RL/**/*.pyc
AI/venv/
AI/**/__pycache__/
AI/**/*.pyc
AI/tictactoe/OpenSans-Regular.ttf
AI/minesweeper/__pycache__
AI/minesweeper/requirements.txt
AI/minesweeper/assets/
AI/pagerank/corpus*
AI/heredity/data/*
