.vscode
RL/venv/
RL/**/__pycache__/
RL/**/*.pyc
AI/venv/
AI/**/__pycache__/
AI/**/*.pyc
AI/tictactoe/OpenSans-Regular.ttf
AI/minesweeper/__pycache__
AI/minesweeper/requirements.txt
AI/minesweeper/assets/
AI/pagerank/corpus*
AI/heredity/data/*
AI/crossword/assets/fonts/OpenSans-Regular.ttf
AI/crossword/data/structure0.txt
AI/crossword/data/structure1.txt
AI/crossword/data/structure2.txt
AI/crossword/data/words0.txt
AI/crossword/data/words1.txt
AI/crossword/data/words2.txt
